DATABASE_URL=postgresql+asyncpg://...
SECRET_KEY=BYT-TILL-STARK-NYCKEL
KLARNA_API_URL=https://api.kustom.co
KLARNA_API_USER=M00267221-ejJ69
KLARNA_API_PASSWORD=
HOSTEK_API_URL=https://partner.ilait.se/api
HOSTEK_API_USER=texas-api@dinsupport.se
HOSTEK_API_PASSWORD=
HOSTEK_CUSTOMER_ID=108410
HOSTEK_DOMAIN_ID=127978
POSTMARK_API_KEY=
ADMIN_EMAIL=kramnet@broadviewab.se
ADMIN_SECRET=BYTA-TILL-STARKT-LÖSENORD
BASE_URL=https://kramnetkund.se
